<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kilometer Knobelei - Guess the Distance Game</title>
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gidole&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/static/vendor/ol/ol.css?v=20260419">
</head>

<body>
    <div class="container">
        {% include "partials/header.html" %}

        <main class="game-layout">
            <div class="game-column">
                <div class="round-top-panels">
                    {% include "partials/answer_card.html" %}
                    {% include "partials/countdown_card.html" %}
                </div>

                {% include "partials/question_card.html" %}
            </div>

            <div class="info-column">
                {% include "partials/player_setup.html" %}
                {% include "partials/lobby_guide.html" %}
                {% include "partials/settings_card.html" %}
                {% include "partials/players_card.html" %}
                {% include "partials/messages_card.html" %}
            </div>
        </main>
    </div>

    {% include "partials/footer.html" %}
    {% include "partials/modal_game_finished.html" %}
    {% include "partials/modal_captcha.html" %}

    <script src="/static/vendor/ol/ol.js?v=20260419"></script>
    <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
    <script src="/static/vendor/proj4/proj4.js?v=20260419"></script>
    <script>
        window.olRegisterProj4 = (window.ol && window.ol.proj && window.ol.proj.proj4 && typeof window.ol.proj.proj4.register === "function")
            ? window.ol.proj.proj4.register
            : null;
    </script>
    <script src="/static/vendor/olms/olms.js?v=20260419"></script>
    <script src="js/i18n.js?v=20260419"></script>
    <script src="js/captcha.js?v=20260419"></script>
    <script src="js/main.js?v=20260419"></script>
</body>

</html>
